{% extends "auctions/layout.html" %} {% block body %}

<h2>Create Listing</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'create_listing' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input
      autofocus
      class="form-control"
      type="text"
      name="name"
      placeholder="Title"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      name="description"
      placeholder="Description"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="number"
      name="bid"
      placeholder="Starting bid"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="texto"
      name="url_image"
      placeholder="URL image"
      value="https://m.media-amazon.com/images/I/71UpBlUsKyL._AC_SX425_.jpg"
    />
  </div>
  <input class="btn btn-primary" type="submit" value="Save" />
</form>

{% endblock %}
